certifi==2019.11.28
chardet==3.0.4
grpcio==1.26.0
grpcio-tools==1.26.0
idna==2.8
json-logging==1.0.5
mysql-connector==2.2.9
protobuf==3.11.2
redis==3.3.11
requests==2.22.0
six==1.13.0
urllib3==1.25.7
zaidan==0.0.21